/* common styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}
section{
    margin: 130px 180px;
}

/* header styles */
/* banner styles */
.banner{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: right;
    padding: 216px 40px 166px 840px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
.banner-description{
    color: #444343;
    margin-top: 24px;
}
.banner-btn{
    margin-top: 32px;
    background-color: #F15B22;
    color: #fff;
    padding: 20px 26px;
}

/* main styles */
/* failure section styles */
.failure{
    display: flex;
    align-items: center;
    gap: 80px;
}
.failure-content .title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.failure-content .description, .failure-content ul{
    color: #444343;
    margin-top: 27px;
}
.failure-content ul li{
    list-style: none;
    line-height: 30px;
    margin-left: -40px;
}
.failure-content ul li i{
    color: darkgreen;
}

/* plan section styles */
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}
.plan-box{
    display: flex;
    justify-content: space-evenly;
}
.plan-content{
    text-align: center;
    margin-top: 50px;
}
.plan-content h4{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 24px;
}
.plan-content p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 16px;
}

/* mindset section styles */
.mindset{
    background-image: url('../images/watch.png'), linear-gradient(to right, #f44a07, #565656);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.mindset-content{
    padding: 58px 64px;
}
.mindset-title{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}
.mindset-btn{
    margin-top: 24px;
    background: #fff;
    color: #F15B22;
    padding: 20px 36px;
}

/* resource section styles */
.resource-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}
.source-item{
    box-shadow: 0px 3px 8px #2d2521;
    padding: 20px 25px;
    border-radius: 30px;
}
.source-item h2{
    margin-bottom: 20px;
    text-align: center;
}
.source-item ul li{
    list-style:square;
}
.source-item ul li a{
    text-decoration: none;
    color: #F15B22;
}
iframe{
    border-radius: 10px;
}

/* footer styles */
footer{
    background: #151414;
    color: #fff;
}
.footer-content{
    display: flex;
    gap: 300px;
    padding: 130px 200px;
}
.footer-left-title{
    font-weight: 700;
    font-size: 45px;
}
.footer-left-description{
    margin-top: 16px;
}
.social{
    margin-top: 24px;
    line-height: 30px;
}
.social i{
    background: #fff;
    margin-top: 10px;
    margin-right: 12px;
}
.twitter{
    color: rgb(26, 162, 246); 
    padding: 10px;
    border-radius: 50%;
}
.facebook{
   color: blue;
   padding: 10px 12px;
   border-radius: 50%;
}
.youtube{
    color: red;
    padding: 10px;
    border-radius: 50%;
}
.footer-right-title{ 
    font-weight: 600;
    font-size: 25px;
}
.footer-right input{
    margin-top: 30px;
    margin-bottom: 16px;
}
.footer-right input[type="text"]{
    font-size: 18px;
    padding: 20px;
}
.footer-btn{
    margin-top: 24px;
    background: #fff;
    color: #F15B22;
    padding: 20px 36px;
}


